stages:
  # - build
  - deploy

deploy:api:preview:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - apps/api/**/*
        - apps/api/prisma/**/*
        - packages/schemas/**/*

  script:
    - npm install --global vercel
    - npm install -- global pnpm
    - vercel pull --yes --environment=preview --token="$TOKEN"
    - vercel build --token="$TOKEN"
    - vercel deploy --prebuilt --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - apps/web/**/*
        - packages/schemas/**/*    

  script:
    - npm install --global vercel
    - npm install -- global pnpm
    - vercel pull --yes --environment=preview --token="$TOKEN"
    - vercel build --token="$TOKEN"
    - vercel deploy --prebuilt --token="$TOKEN"